@model StringSearch.Math.AdditionOperation
<div class="additionOperation">
    <div class="lineA">@Model.A</div>
    <div class="lineB">+ @Model.B</div>
    <div class="lineAnswerBlank">&nbsp;</div>
</div>