@model StringSearch.Math.DivisionOperation
<div class="divisionOperation">
    <div class="lineA">@Model.A</div>
    <div class="lineB">&divide; @Model.B</div>
    <div class="lineAnswerBlank">&nbsp;</div>
</div>