@model StringSearch.Math.MultiplicationOperation
<div class="multiplicationOperation">
    <div class="lineA">@Model.A</div>
    <div class="lineB">&times; @Model.B</div>
    <div class="lineAnswerBlank">&nbsp;</div>
</div>