@model StringSearch.Math.SubtractionOperation
<div class="subtractionOperation">
    <div class="lineA">@Model.A</div>
    <div class="lineB">- @Model.B</div>
    <div class="lineAnswerBlank">&nbsp;</div>
</div>